body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: #EBC291;
}

.soon{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    grid-gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.soon .box{
    position: relative;
    padding: 20px 40px 40px;
    text-align: center;
    overflow: hidden;
}

.soon-icon{
    width:550px;
    height:550px
}
.soon-text{
    margin-top: 200px;
}

.sec-btn {
    min-width: 120px;
    min-height: 58px;
    background: #f3f3f5;
    box-shadow: 9px 9px 12px #b2b2b3, -9px -9px 12px #ffffff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    color: #0d0d25;
    text-transform: capitalize;
    text-align: center;
    border: none;
    cursor: pointer;
    outline: none !important;
    transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
    overflow: hidden;
    position: relative;
    z-index: 2;
    padding: 6px 30px;
}

.sec-btn:hover {
    border-color: #0d0d25;
    box-shadow: inset 9px 9px 12px #cccccc, inset -9px -9px 12px #ffffff;
    color: #0d0d25;
}

a {
    background-color: transparent;
    text-decoration: none !important;
    outline: none !important;
}

a {
    color: #0d6efd;
    text-decoration: underline;
}

@media (max-width: 1024px) {
    .soon-icon{
        height: 400px;
        width: 400px;
        margin-top: 180px;
    }
    .soon-text{
        margin-top: 300px;
    }
}
@media (max-width: 767px) {
    .soon-icon{
        height: 300px;
        width: 300px;
        margin-top: 180px;
    }
    .soon-text{
        margin-top: 300px;
    }
}

@media (max-width: 480px) {
    .soon-icon{
        height: 300px;
        width: 300px;
        margin-top: 20px;
    }
    .soon-text{
        margin-top: 10px;
    }
}